@import "@/_var.scss";

.menus {
  margin-left: 20px;
  .menu {
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    height: 62px;
    line-height: 62px;
    padding: 0px 15px;
    position: relative;
    color: #fff;
    opacity: 0.65;

    .displayText {
      font-size: 14px;
    }

    &.more_menu {
      &::after {
        content: "";
        width: 0;
        height: 0;
        border: solid #fff;
        border-width: 0 2px 2px 0;
        position: absolute;
        bottom: 28px;
        right: 0px;
        transition: all 0.5s;
        transform: rotate(-45deg);
        -webkit-transform: rotate(45deg);
        padding: 3px;
        opacity: 0.65;
      }
      &:hover {
        .menu {
          opacity: 1;
          &:hover > .submenus {
            display: flex;
            flex-direction: column;
          }
        }
        &::after {
          transform: rotate(-135deg);
          -webkit-transform: rotate(-135deg);
        }
      }
    }

    .submenus {
      position: absolute;
      left: 50%;
      top: 90%;
      background-color: $secondary-color;
      display: none;
      flex-direction: column;
      width: max-content;
      min-height: 62px;
      line-height: 62px;
      height: auto;
      z-index: 1;
      box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
