.modal_container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  min-height: 100vh;
  height: 100vh;
  .filter_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .template_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .languages_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
  .emojis_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .otpverify_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .updatedetails_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .profilepin_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .parental_control_pin_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .generic_modal {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}
