@import '@/_var.scss';
.tabs{
  position: relative;
  .tabs_wrapper{
    overflow: hidden;
  .tab{
    float: left;
    font-size: 14px;
    text-align: center;
    background: hsla(0, 0%, 100%, .06);
    display: block;
    cursor: pointer;
    width: 100%;
    p{
        color: #999;    
        padding: 13px 0px;
        text-transform: uppercase;
        font-size: 14px;
        @include ellipse
      }
    &.active{
      p{
        color: $primary-color;
      }
    }
  }
}
    .arrow_container {
      position: absolute;
      top: 7px;
      bottom: 7px;
      background-color: transparent;
      width: 42px;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 1;
      cursor: pointer;
      .arrowbox {
        height: 14px;
        width: 14px;
        transform: rotate(45deg);
      }
  
      &.left_arrow_container {
        left: -40px;
        .arrowbox {
          border-bottom: 2px solid #999;
          border-left: 2px solid #999;
        }
      }
  
      &.right_arrow_container {
        right: -40px;
  
        .arrowbox {
          border-top: 2px solid #999;
          border-right: 2px solid #999;
        }
      }
    }

  &.unslick{
    padding: 0px;
    .tabs_wrapper{
      overflow-x: scroll;
      &::-webkit-scrollbar {
          display: none;
        }
      
        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
    }
  }
  &:hover{
    .arrow_container {
        display: flex;
      }
  }

}