@import '@/_var.scss';
.signin_container{
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: url(https://d2ivesio5kogrp.cloudfront.net/static/aastha/images/sign-in-bg.jpg) no-repeat 50% fixed;
  background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
  @include breakpoint(tablet) {

  }
  @include breakpoint(mobile){
    background: #141414;
  }
  .signin_inner{
    padding: 50px 40px 70px;
    display: block;
    height: fit-content;
    width: 480px;
    margin: 80px auto 30px;
    background-color: #262626;
    @include breakpoint(mac) {
        width: 450px;
    }
    @include breakpoint(laptop) {
      width: 480px;
      margin: 60px auto 30px;
      padding: 40px 30px 60px;
    }
    @include breakpoint(tablet) {
        width: 450px;
        margin: 0 auto 30px;
        padding: 30px;
    }
    @include breakpoint(mobile) {
        background: #141414;
        padding: 0 20px;
        width: 100%;
        max-width: 450px
    }
    .inner_top{
      .title{
        font-size: 28px;
        margin-bottom: 28px;
        text-align: center;
        font-weight: 400;
        color: #fff;
        @include breakpoint(mac) {
            font-size: 26px;
            margin-bottom: 50px;
          }
        
          @include breakpoint(laptop) {
            font-size: 24px;
            margin-bottom: 28px;
          }
        
          @include breakpoint(tablet) {
            font-size: 22px;
            margin-bottom: 25px;
          }
        
          @include breakpoint(mobile) {
            font-size: 20px;
          }
        
          @include breakpoint(mobile-common-land) {
            font-size: 18px;
          }
      }
    }
    .inner_middle{
      form{
        .input_container{
          display: flex;
          border: 1px solid #52525c;
          margin-bottom: 40px;
          position: relative;
          &.submit_input_container{
            border: none;
            margin-bottom: 0px;
            .input_error_msg {
                position: absolute;
                top: -20px;
                left: 50%;
                transform: translateX(-50%);
                color: #f93822;
                font-size: 12px;
                bottom: initial;
              }
          }
          .input{
              background: none;
              border: none;
              color: #fff;
              padding: 0 16px;
              width: 100%;
              font-size: 15px !important;
              height: 48px;
              line-height: 48px;
            &.email_input {
              width: 100%;
            }
            &.number_input {
              width: 75%;
              border-left: 1px solid #52525c;
            }
             /* Chrome, Safari, Edge, Opera */
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            
            /* Firefox */
            &[type=number] {
              -moz-appearance: textfield;
              appearance: textfield;
            }
            &:focus{
              outline: none;
            }
          }
          
          .country_code_container{
            width: 25%;
            color: #fff;
            border-right-color:#52525c ;
            border-right-width: 1px;
            border-right-style: solid;
          }
          .input_error_msg{
            position: absolute;
            bottom: -20px;
            color: #f93822;
            font-size: 12px;
          }

        }
        .signin_btn{
          background-color: $primary-color;
          color:#fff;
            height: 44px;
            line-height: 44px;
            text-transform: none;
            width: 100%;
            font-size: 18px;
            border-radius: 3px;
            outline: none;
            border: none;
            cursor: pointer;
            @include breakpoint(mac) {
              font-size: 16px;
            }
            @include breakpoint(laptop) {
              font-size: 14px;
            }
        }
      }
      .or_div{
        width: 100%;
        height: 20px;
        position: relative;
        margin: 30px 0 20px;
        display: flex;
        align-items: center;
        hr{
          background-color: #898b95;
          vertical-align: middle;
          width: 100%;
          border-width: 0px;
          height: 1px;
        }
        .or_text{
          position: absolute;
          left:50%;
          top:50%;
          transform: translate(-50%,-50%);
          padding:0px 8px;
          background: #262626;
          color: #898b95;
          @include breakpoint(mobile){
            background-color: #141414;
          }
        }
      }
    }
    .inner_bottom{
      .email_number_toggle {
          background-color: #404040;
          color: #fff;
          height: 44px;
          line-height: 44px;
          margin-top: 12px;
          text-transform: none;
          width: 100%;
          font-size: 18px;
          border-radius: 3px;
          outline: none;
          border: none;
      
          @include breakpoint(mac) {
            font-size: 16px;
          }
      
          @include breakpoint(laptop) {
            font-size: 14px;
            margin-top: 10px;
          }
      }
      .terms_policy{
         font-size: 12px;
          color: #898b93;
          margin: 10px auto;
          text-align: center;
          margin-top: 25px;
          .terms,.policy{
              color: #eee;
              margin: 0 5px;
              text-decoration: underline;
              opacity: .75;
          }
      }
      .signup_text{
         font-size: 14px;
          color: #898b93;
          margin: 10px auto;
          text-align: center;
          margin-top: 25px;
          font-weight: bold;
          .signup{
            color: $primary-color;
            margin: 0 5px;
            text-decoration: underline;
            opacity: .75;
          }
      }

    }
  }
}