@import '@/_var.scss';
.get_otp_container {
  height: 512px;
  width: 528px;
  border: 0;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 14%);

  .get_otp_container_inner {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px 40px;
    background: #262626;
    border: 0;
    border-radius: 4px;

    .get_otp_close {
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;
    }

    .get_otp_header {
      display: flex;
      justify-content: center;
      align-items: center;
      .profile_icon {
        width: 120px;
        height: 120px;
        background: #7a7a80;
        border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        position: relative;
        // margin: 0px auto 20px;
        @include breakpoint(tablet) {
          margin: 20px auto;
        }
        @include breakpoint(mobile) {
          width: 100px;
          height: 100px;
          margin-bottom: 16px;
        }
        @include breakpoint(mobile-common) {
          width: 80px;
          height: 80px;
        }
        img{
          height: 100%;
          width: 100%;
          vertical-align: middle;
        }
      }
    }

    .get_otp_body {
      .heading {
        margin-top: 52px;
        font-size: 22px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        @include breakpoint(mac) {
          font-size: 20px;
        }

        @include breakpoint(laptop) {
          font-size: 18px;
        }

        @include breakpoint(mobile) {
          font-size: 16px;
        }
      }

      .sub_heading {
        margin-top: 20px;
        font-size: 14px;
        color: #fff;
        opacity: 0.65;
        max-width: 410px;
        margin: 0 auto;
        word-break: break-word;
        text-align: center;
      }

      .otp_input_container{
        border: 1px solid #555;
          position: relative;
          padding: 11px 15px;
          border-radius: 4px;
          margin-bottom: 20px;
            margin-top: 40px;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
          .otp_input{
            padding: 0 100px 0 0;
              border: none;
              color: #fff;
              font-size: 16px;
              outline: none;
              background: none;
              width: 100%;
              height: inherit;
              font-weight: 400;
              line-height: 1.5;
                
          }
          .otp_input_toggel{
            position: absolute;
              cursor: default;
              color: #888;
              font-size: 14px;
              right: 15px;
              top: 12px;
              cursor: pointer;
          }
      }
      .otp_msg{
        display: inline-block;
        width: 100%;
        
        &.success{
          text-align: center;
          font-size: 0.875em;
          color:green;
        }
        &.failmsg{
          text-align: center;
          font-size: 0.875em;
          color: red;
        }
        &.error{
          font-size: 12px;
          color: red;
          position: absolute;
          bottom: -45%;
          left: 0;
        }
      }
    }

    .get_otp_footer {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
    .get_otp_footer_btns {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
          border-radius: 2px;
          height: 44px;
          width: 160px;
          font-size: 1.125em;
          text-align: center;
          color: #fff;
          border: none;
          background: hsla(0, 0%, 100%, .15);
          outline: none;
          margin: 0px 8px;
    
          &:nth-child(2) {
            background: #e7195a;
            color: #fff;
    
            &:disabled {
              opacity: .5;
              cursor: not-allowed;
            }
          }
    
          @include breakpoint(mac) {
            // font-size: 14px;
          }
        }
      }
    }

  }
}
