.search_container {
  .search_grid {
    padding: 0px 60px;
    height: auto;
    overflow: hidden;
    padding-bottom: 50px;
    .search_error_msg {
      text-align: center;
      color: #fff;
    }
  }
}
